<h1>You have new balance for {{ account }}</h1>

<table>
    <thead><tr><td>date</td><td>label</td><td>balance</td></tr></thead>
    <tbody>
        <tr><td>{{ list.date }}</td><td>{{ list.label }}</td><td>{{ list.balance }}</td></tr>
    </tbody>
</table>